[Unit]
Description=damon to set acpi-wakeup time
Requires=dbus.service dbus.socket

[Service]
Type=dbus
BusName=org.acpi.wakeup
ExecStart=/usr/bin/acpiwakeupd
TimeoutSec=5
KillMode=process
KillSignal=SIGINT
ExecStopPre=/usr/bin/acpiwakeupctl setWakeup

[Install]
WantedBy=multi-user.target